@import url('normalize.css');
.banner_main{
    background-image: url("https://s10.s3c.es/imag/_v0/770x420/0/b/7/Instrumentos-musicales.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 53vh;
  }
  
  .banner_main::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(36,30,0);
    background: linear-gradient(251deg, rgba(36,30,0,0) 0%, rgba(121, 112, 9, 0.411) 35%, #b98708d7 100%);
    height: 53vh;
  }

  .banner_title{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    color: #f5f5f5;
  }
  @media (max-width: 973px ) {
    .banner_title {
      margin-top: 0px;
    }
  }
  
  .banner_title h1{
    font-weight: 100;
    max-width: 1000px;
    font-size: 50px;
  
  }
  
  .banner_title p{
    font-size: 23px;
  }
  
  .banner_main header{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .banner_main nav ul{
    display: flex;
    gap: 20px;
  }
  .banner_main nav ul a{
    color: #f5f5f5;
    font-size: 19px;
  }
  
  .banner_logo{
    margin: 20px 0;
    color: #f5f5f5;
    font-size: 60px;
    font-weight: 100;
  }
  
  .banner_logo span{
    font-weight: bold;
  }
  

  nav ul li {
    font-size: large;
    gap: 5px;
    color: #f5f5f5f5; 
  }