@import url(../normalize.css);
@import url(../banner.css);
@import url(./style.css);

footer {
  background: rgb(36,30,0);
  background: linear-gradient(180deg, rgb(36, 30, 0) 0%, #797009 50%, rgb(36, 30, 0) 100%);;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 5rem;
 }

footer ul {
  margin-top: 7%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  
 }

 footer ul li a {
  color: #f5f5f5;
 }