@import url(../normalize.css);
@import url(../banner.css);

body {
    font-family: sans-serif;
    min-width: 480px;
    max-width: 1920px;
    
  }

  .banner_logo {
    flex: start
  }

  .banner_main{
  
    background-image: url("https://s10.s3c.es/imag/_v0/770x420/0/b/7/Instrumentos-musicales.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    height: 53vh;
    position: relative;
    
  }

  .banner_main::before{
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(36,30,0);
background: linear-gradient(251deg, rgba(36,30,0,0) 0%, rgba(121,112,9,0.5914740896358543) 35%, rgba(185,135,8,0.8435749299719888) 100%);
  }
  
  .banner_main header{
    position: relative;
  }

  nav{
    display: flex;
    justify-content: space-around;
  }
  header section {
 
  position: relative;
  color: #f5f5f5f5;
  }
  
  nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
    
  }
  nav ul li {
    font-size: large;
    margin-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    
  }
  li a{
    color: #f5f5f5f5;
  }
  h1{
    margin: 0 auto;
    max-width: 1920px;
    font-size: 30px;
    display: flex;
    text-align: center;
    
  }

  .texto {
    display: flex;
    justify-content: center;
  }
   
  h3{
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    color: #3D1E00;
  }
  .contenedor{
    width:100%;
    max-width: 700px;
    margin: auto;
    margin-top: 100px;
    height:500px;
    padding: 80px;
    border-top: 6px solid #693604;
  }
  .contenedor img{
    width: 300px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    
  }

  .contenedor p{
    font-size: 20px;
    line-height: 30px;
  }

  .contenedor2{
    width:100%;
    max-width: 700px;
    margin: auto;
    margin-top: 100px;
    height:500px;
    padding: 80px;
    border-top: 6px solid #693604;
  }
  .contenedor2 img{
    width: 300px;
    float: left;
    margin-right: 30px;
    margin-bottom: 9git0px;
    
  }

  .contenedor2 p{
    font-size: 20px;
    line-height: 30px;
  }
  
  footer {
  background: rgb(36,30,0);
  background: linear-gradient(180deg, rgb(36, 30, 0) 0%, rgb(121, 112, 9) 50%, rgb(36, 30, 0) 100%);;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
 }

footer ul li {
  margin-top: 7%;
 }

  @media(max-width: 600px) {
    .contenedor{
      width: 600px;
      max-width: 300px;
      margin: auto;
      margin-top: 100px;
      height:500px;
      padding: 80px;
      border-top: 6px solid #693604;
    }
    .contenedor img{
      width: 150px;
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    .contenedor p{
     font-size: 12px;
     line-height: 15px;
    
    }
  }

  @media(max-width: 600px) {
    .contenedor2{
      width: 600px;
      max-width: 300px;
      margin: auto;
      margin-top: 100px;
      height:500px;
      padding: 80px;
      border-top: 6px solid #693604;
    }
    .contenedor2 img{
      width: 150px;
      float: left;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    .contenedor2 p{
     font-size: 12px;
     line-height: 15px;
    
    }
  }





   
  

  
  
  